body {
    font-family: arial;
}
a {
    color: #007bff;
    text-decoration: nome;

}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    backgroud-color: #f2f2f2;
}
tr:hover {
    background-color: #000000;
    cursor:pointer;

}
button {
    background-color: #fdca40;
    color: white;
    padding: 10px 15px;
    border: nome;
    border-radius: 5px;
    cursor: pointer; 
}
button:hover {
    background-color: #0056b3;
}
.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px igba (0,0,0,0.1);
}
input[type=text], input[type=number], input[tupe=date], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: nome;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]: {
    background-color: #218838;
}
table-container {
    overflow-y: auto;
    height: 400px;
    margin-top: 20px;

}
table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 10;
}

.botao {
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    color: #fff;
}

.entrada {
    background-color: #29bf12;
    color: white; 
    cursor: pointer;
}

.saida{
   background-color:#f21b3f; 
   color: white;
}
.alerta {
    background-color: #DC8686;
    
}

.sucesso {
    background-color: #7ED7C1;
    
}